<div class="grid grid-rows-2 grid-cols-12 py-8 px-2 gap-2">
	<div  class="col-span-2 row-span-2">
		<img src="https://edoh3q5avzd.exactdn.com/wp-content/uploads/2019/12/Atyla-logo.png?strip=all&lossy=1&ssl=1&fit=300,86"></img>
	</div>
	<div class="flex items-center justify-end text-4xl hover:text-black text-blue-800 leading-8 font-bold col-span-3 row-span-2 tracking-wider align-bottom">
		Winter Volunteer App
	</div>
	<div class="col-span-5 row-span-2 col-start-8 flex items-center space-x-3 ">
		<button class="hover:text-black text-blue-800 text-xl font-thin rounded-lg p-2">Home</button>
		<button class="hover:text-black text-blue-800 text-xl rounded-lg font-thin p-2">New Volunteer</button>
		<button class="hover:text-black text-blue-800 text-xl font-thin rounded-lg p-2">Statistics</button>
		<button class="hover:text-black text-blue-800 text-xl font-thin rounded-lg p-2">Mails</button>
		<button class="hover:text-black text-blue-800 text-xl font-thin rounded-lg p-2">Log out</button>
		<button class="hover:text-black text-blue-800 text-xl font-thin rounded-lg p-2">Log In</button>
	</div>
	
</div>